<div>
  <div class="header">
    <div class="header-img">
      <img src="../../../assets/image/polygon@2x.jpg" alt="test">
      <div class="header-logo">
        <p class="header-logo-text">Bettery</p>
      </div>
    </div>
    <div class="header-avatar">
      <div class="header-avatar-bty">
        <div class="header-avatar-bty-number">3200</div>
        <div class="header-avatar-bty-text">BTY</div>
        <div class="header-avatar-bty-img">
          <img src="../../../assets/image/polygon@2x.jpg" alt="test">
          <div class="header-avatar-logo">
            <p class="header-avatar-logo-text">B</p>
          </div>
        </div>
      </div>
      <div class="header-avatar-etn">
        <div class="header-avatar-etn-number">
          $45 (0.4 ETN)
        </div>
        <div>
          <img src="../../../assets/image/Vector.jpg" alt="test">
        </div>
      </div>
      <div class="header-avatar-ton">
        <div>
          Tony Stark
        </div>
        <div class="header-avatar-ton-img">
          <img src="../../../assets/image/image%201.jpg" alt="test">
        </div>
      </div>
      <div class="header-avatar-vec">
        <div class="header-avatar-vec-img">
          <img src="../../../assets/image/Vecto1.jpg" alt="test">
          <div class="header-avatar-vec-kyb"></div>
        </div>
      </div>
    </div>
  </div>
</div>
